<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'demo_login/navbar.html' %}
    <form method="post" action="{% url 'demo_login:update' todo.id %}" class="container w-50 mt-5" >
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" required value="{{todo.title}}">
          </div>
          <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" id="desc" name="desc" required value="{{todo.description}}">
          </div>
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
</body>
</html>